<html>
    <head>
        <title>Mon app DJANGO</title>
    </head>
    <body>
        <h1>Hello mes produits !</h1>
        <p>Mes produits sont :</p>
        <ul>
            {%for prdt in prdts%}
                <li>{{prdt.intituleProd | upper}}</li>
            {%endfor%}
        </ul>
        <p>
            J'ai
            {% if prdts|length < 5 %}
            peu de
            {% elif prdts|length < 10 %}
            quelques
            {% else %}
            beaucoup de
            {% endif %}
            produits préférés.
        </p>
    </body>
</html>