{% extends 'monApp/base.html' %}

{% block contenu %}
<h1>{{ titremenu }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Référence</th>
            <th>Intitulé</th>
            <th>Prix Unitaire</th>
            <th>Catégorie</th>
        </tr>
    </thead>
    <tbody>
        {% for prdt in prdts %}
        <tr>
            <td><a href="{% url 'dtl_prdt' prdt.pk %}">{{ prdt.refProd }}</a></td>
            <td>{{ prdt.intituleProd }}</td>
            <td>{{ prdt.prixUnitaireProd }} €</td>
            <td>{{ prdt.categorie }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}